
.box {
    width: 50px;
    height: 50px;
    margin: 5px;
    background-color: #f2f2f2;
    border: 1px solid #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
}

/* Todo 3.0: Create an animation that increases and decreases the scale of the box  */
.todo-0-container .box{
    /* Apply animation here */
}

/* Todo 3.1: Create an animation that moves the box left and right.
Start with using "from" and "to". Now use "0%" and "100%" as your key frames.
Set more key frames between 0% and 100%. */
.todo-1-container .box{
    /* Apply animation here */
}

/* Todo 3.2: Try the different timing funcitons such as linear, ease-in, ease-in-out, cubic-bezier, and steps*/
.todo-2-container .box{
    /* Apply animation here */
}

/* Todo 3.3: Create a transition that will raise the button up and will make it cast a shadow when you hover over the button */
/* bonus: apply the transition on the box shadow with different duration and timing function. This should all be in one line*/
.todo-3-container button{
    /* Apply transition here */
}
