.container {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.box {
  width: 50px;
  height: 50px;
  margin: 5px;
  background-color: #f2f2f2;
  border: 1px solid #ccc;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
}

/* Todo 2.1: Define and apply CSS styles such that the background of .change-styles changes to
a different color when the screen is smaller than 500px*/
.change-styles {
  width: 100%;
  height: 300px;
  background-color: red;
}

@media (max-width: 500px) {
  .change-styles {
    background-color: blue;
  }
}

/* Todo 2.2: Define and apply CSS styles such that the layout of .change-layout becomes a column
when the screen's width is smaller than 500px */
.change-layout {
  display: flex;
  flex-direction: row;
}

@media (max-width: 500px) {
  .change-layout {
    display: flex;
    flex-direction: column;
  }
}

/* Todo 2.3: Define the common breakpoints for devices - phone, tablet, small screens (laptop), and large screens (desktops).
For each breakpoint, the background of .common-breakpoints must change
*/

/* For Phones */
@media only screen and (max-width: 480px) {
  .common-breakpoints {
    width: 100%;
    height: 300px;
    background-color: red;
  }
}

/* For Tablets */
@media only screen and (min-width: 481px) and (max-width: 768px) {
  .common-breakpoints {
    width: 80%;
    height: 400px;
    background-color: green;
  }
}

/* For Laptops */
@media only screen and (min-width: 769px) and (max-width: 1024px) {
  .common-breakpoints {
    width: 60%;
    height: 500px;
    background-color: blue;
  }
}

/* For Desktops */
@media only screen and (min-width: 1025px) {
  .common-breakpoints {
    width: 50%;
    height: 600px;
    background-color: orange;
  }
}
